.navbar {
    background-color: rgb(81, 195, 252);
    height: 60px;
    display: flex;
}

.navbar a {
    color: rgb(5, 79, 162);
    text-decoration: none;
    padding: 0 40px 0 40px;
    font-size: 17px;
    display: flex;
    align-items: center;
}

.navbar .other-links{
    margin-left: auto;
    display: flex;
}

.other-links a {
    color: black;
}

.navbar a:hover {
  background-color:rgb(85, 200, 221);
  color: rgb(233, 239, 255);
}

.section {
    display: flex;
    border-radius: 10px;
    align-items: center;
    padding: 20px;
    border: 2px solid rgb(18,105,204);
    margin: 20px;
    height: 200px;
    width: 500px;
    background-color: rgb(109,154,199);
}

.section.projects {
    height: 500px;
    width: 700px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.section h2 {
    margin-top: 10px;
}

.frame {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.left-frame {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.intro {
    display:flex;
    flex-direction: row;
}

.intro .profile-pic {
    margin-right: 20px;
}

.intro .intro-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 30px;
    align-items: flex-start;
    height: 100%;
}

.intro .intro-content .intro-title {
    display: flex;
    align-items: top;
    font-size: 24px;
}

.intro .intro-content .intro-short {
    display: flex;
    align-items: top;
    font-size: 17px;
}
