.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.section {
    display: flex;
    border-radius: 10px;
    align-items: center;
    padding: 20px;
    border: 2px solid rgb(18,105,204);
    margin: 20px;
    height: 200px;
    width: 500px;
    transition: transform 0.10s ease
}

.section:hover {
    transform: scale(1.05);
}

.section.info {
    margin-right: auto;
    height: 560px;
    flex-direction: column;
}

.aboutme {
    height: 600px;
    width: 700px;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.pfp {
    margin-top: 20px;
    border-radius: 50%;
    border: 2px solid black;
}

.contact {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.contact h1 {
    margin-bottom: 0px;
}

.contact ul {
    font-size: 20px;
}

article {
    font-size: 20px;
}

.aboutme h1 {
    text-decoration-thickness: 1.5px;
}

.hr {
    width: 200%;
    height: 1px;
    border: none;
    margin-left: -50%;
    margin-bottom: 0px;
    background: linear-gradient(
        to right,
        transparent 0%,
        rgba(0, 0, 0, 0.7) 25%, 
        rgba(0, 0, 0, 0.7) 75%, 
        transparent 100%
    );
}