.navbar {
    background-color: rgb(78, 186, 239);
    height: 60px;
    display: flex;
}

.navbar a {
    color: rgb(0, 35, 74);
    text-decoration: none;
    padding: 0 40px 0 40px;
    font-size: 17px;
    display: flex;
    align-items: center;
    transition: transform 0.15s ease
}

.navbar .other-links{
    margin-left: auto;
    display: flex;
}

.other-links a {
    color: black;
}

.navbar a:hover {
  background-color:rgb(60, 143, 185);
  color: rgb(255, 255, 255);
  transform: scale(1.1)
}